# FERNANDA IDARRAGA - COMP663 | Fall 2022

# LAB 4 - Introduction to Data Mining, Data Cleansing and Preparation

# Question #1 - dropna() and fillna()

In [1]:
# Import the necessary modules
import pandas as pd

# Read in the file hmeq_small.csv
hmeq = pd.read_csv('hmeq_small.csv')

#display(hmeq.head())

In [2]:
# Create a new data frame with the rows with missing values dropped

# Code to delete rows with missing values
df1 = hmeq.dropna()
#display(df1)

In [3]:
# Create a new data frame with the missing values filled in by the mean of the column

# Code to fill in missing values
df2=hmeq.fillna(hmeq.mean()) #replaces each missing value by the mean of the corresponding column.
#display(df2)

In [4]:
# Print the means of the columns for each new data frame
print("Means for df1 are ", df1.mean(), '\n')

print("Means for df2 are ", df2.mean())

Means for df1 are  LOAN        3208.333333
MORTDUE    67495.958333
VALUE      82529.125000
YOJ            8.500000
CLAGE        144.749455
CLNO          16.583333
DEBTINC       33.052122
dtype: float64

Means for df2 are  LOAN        3045.918367
MORTDUE    49386.494253
VALUE      64033.483871
YOJ            8.179775
CLAGE        140.209320
CLNO          15.586957
DEBTINC       30.947152
dtype: float64

# Question #2 - scale() and MinMaxScaler()

In [5]:
# Import the necessary modules
import pandas as pd
from sklearn import preprocessing

# Read in the file hmeq_small.csv
hmeq = pd.read_csv('hmeq_lab412.csv')

display(hmeq.head())

   LOAN  MORTDUE     VALUE   YOJ       CLAGE  CLNO  DEBTINC
0  1100  25860.0   39025.0  10.5   94.366667   9.0      NaN
1  1300  70053.0   68400.0   7.0  121.833333  14.0      NaN
2  1500  13500.0   16700.0   4.0  149.466667  10.0      NaN
3  1500      NaN       NaN   NaN         NaN   NaN      NaN
4  1700  97800.0  112000.0   3.0   93.333333  14.0      NaN

In [6]:
# Standardize the data
# Code to standardize the data
standardized = preprocessing.scale(hmeq)

In [7]:
# Output the standardized data as a data frame 
# Code to output as a data frame
df1 = pd.DataFrame(standardized, columns = ["LOAN", "MORTDUE", "VALUE", "YOJ", "CLAGE", "CLNO", "DEBTINC"])

In [8]:
# Normalize the data
# Code to normalize the data
normalized = preprocessing.MinMaxScaler().fit_transform(hmeq)

In [9]:
# Output the standardized data as a data frame
# Code to output as a data frame
df2 = pd.DataFrame(normalized, columns = ["LOAN", "MORTDUE", "VALUE", "YOJ", "CLAGE", "CLNO", "DEBTINC"])

In [10]:
# Print the means and standard deviations of df1 and df2
print("The means of df1 are ", df1.mean(), '\n')
print("The standard deviations of df1 are ", df1.std(), '\n')
print("The means of df2 are ", df2.mean(), '\n')
print("The standard deviations of df2 are ", df2.std())

The means of df1 are  LOAN      -1.525998e-16
MORTDUE   -2.089064e-16
VALUE      0.000000e+00
YOJ        7.307694e-17
CLAGE     -1.408011e-16
CLNO      -8.915838e-17
DEBTINC   -1.453486e-16
dtype: float64

The standard deviations of df1 are  LOAN       1.000084
MORTDUE    1.000092
VALUE      1.000086
YOJ        1.000092
CLAGE      1.000088
CLNO       1.000087
DEBTINC    1.000107
dtype: float64

The means of df2 are  LOAN       0.197162
MORTDUE    0.180378
VALUE      0.110597
YOJ        0.217616
CLAGE      0.153879
CLNO       0.299945
DEBTINC    0.163991
dtype: float64

The standard deviations of df2 are  LOAN       0.126210
MORTDUE    0.111847
VALUE      0.067679
YOJ        0.184731
CLAGE      0.073453
CLNO       0.142802
DEBTINC    0.042418
dtype: float64